@font-face {
  font-family: 'roboto';
  src: url('./fonts/roboto/roboto-regular-webfont.woff2') format('woff2'),
       url('./fonts/roboto/roboto-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;

}

@font-face {
  font-family: 'roboto';
  src: url('./fonts/roboto/roboto-bold-webfont.woff2') format('woff2'),
       url('./fonts/roboto/roboto-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: bold;

}

@font-face {
  font-family: 'comfortaabold';
  src: url('./fonts/Comfortaa/comfortaa_bold-webfont.woff2') format('woff2'),
       url('./fonts/Comfortaa/comfortaa_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'comfortaathin';
  src: url('./fonts/Comfortaa/comfortaa_thin-webfont.woff2') format('woff2'),
       url('./fonts/Comfortaa/comfortaa_thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'comfortaaregular';
  src: url('./fonts/Comfortaa/comfortaa_regular-webfont.woff2') format('woff2'),
       url('./fonts/Comfortaa/comfortaa_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

:root {
  --light-color-base: #e8e9ef;
  --light-color-1: #cccdcf;
  --light-color-2: #c6af99;
  --dark-color-1: #1f1d20;
  --accent-color-1: #2f3924;
  --neutral-black: #171717;
  --medium-white: #F1F5F9;
  --light-grey: #CBD5E1;
  --grey: #A3A3A3;
  --dark-blue: #1D4ED8;
  --header-icons-width: clamp(0.5rem, 1.25rem, 4vh);
}

body {
  font-family: 'inter', sans-serif;
}

#content {
  font-family: 'roboto', sans-serif;
  background-color: var(--light-color-base);
  position: relative;
  height: 100vh;
}
/* homepage */

.home {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
}

.main-header {
  display: flex;
  align-items: center;
  background-color: var(--accent-color-1);
  padding: clamp(0.75rem, 1.25rem, 2.5vh);
}

.sidebar-btn {
  position: relative;
  width: var(--header-icons-width);
  height: var(--header-icons-width);
  background-color: transparent;
  outline: none;
  border: none;
  margin-right: max(1.5rem, 2.25vw);
}

.sidebar-btn::before {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--header-icons-width);
  height: var(--header-icons-width);
  content: "";
  background-image: url(./img/icons/three-horizontal-lines-icon.svg);
  background-size: 100% 100%;
}

.main-header > h1 {
  font-size: clamp(1.25rem, 1.75rem, 4vw);
  margin: 0;
  color: var(--light-color-1);
}

.main-header > span {
  display: flex;
}

.main-header > span::after {
  content: '';
  width: var(--header-icons-width);
  height: var(--header-icons-width);
  margin-left: max(0.5rem, 0.75vw);
  background-image: url(./img/icons/check-mark-box-line-icon.svg);
  background-size: 100% 100%;
}

button[class='add'] {
  width: 100px;
  height: 100px;
  background-image: url(./img/icons/plus.svg);
  background-repeat: no-repeat;
  background-size: 100px 100px;
  background-color: transparent;
  border: none;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

/* sidebar */
.sidebar {
  padding: 1.5rem 1rem;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  grid-row: 1 / -1;
  background-color: var(--neutral-black);
  color: var(--grey);
}

.sidebar > :first-child {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1.25rem;
  color: var(--medium-white);
}

.sidebar > :first-child::before {
  content: "";
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(./img/icons/view-dashboard.svg);
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
}

.task-container {
  background-color: var(--neutral-black);
  height: 60%;
  width: 100%;
}
/* Task-list */

.task-list {
  display: grid;
  gap: 1rem;
  padding: 1.5rem;
  background-color: var(--dark-blue);
}

.task-list > :first-child {
  margin: 0;
  background-color: var(--neutral-black);
  color:  var(--medium-white);
  font-size: 1rem;
  padding: 0.75rem 2.25rem;
  border-radius: 8px;
  font-weight: 600;
}

.task {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  grid-template-rows: auto 1fr;
  align-content: start;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 8px;
  background-color: #F5F5F4;
  border:  #0EA5E9 1px solid;
  border-left-color: #171717;
  border-bottom-color: #10B981;
  width: 60vw;
  height: 60vh;
}

.task h1 {
  grid-column: 1 / 3;
  padding: 0.75rem 1.5rem;
  margin: 0;;
  width: calc(100% - 3rem);
  height: min-content;
  color:#F5F5F4;
  background-color: #0EA5E9;
  font-size: 1.25rem;
}

.task .task-type {
  color: #171717;
  font-size: 1.15rem;
  font-weight: 600;
  padding: 1.5rem;
  border-right: #10B981 1px solid;
}

.task-content {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr 3fr auto auto auto;
}

.task-content textarea {
  padding: 0.5rem 1rem;
  width: calc(100% - 2rem);
  font-weight: 400;
  height: 50px;
  background-color: transparent;
  border: none;
  resize: none;
}

.task-content textarea:focus-visible {
  outline: black 1px solid;
}

.task-content button {
  margin: 1rem 1.5rem;
  height:fit-content;
  align-self: end;
  width: fit-content;
  background-color: #10B981;
  border: none;
  border-radius: 4px;
}

.details textarea {
  height: 150px;
}

fieldset {
  display: flex;
  gap: 1rem;
}

.task-content > * {
  grid-column: 1 / -1;
}

.task-content > fieldset {
  grid-column: 1 /2;
}

.task-content > button {
  grid-column: 2 /3 ;
}

.task-ui {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: auto;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #CBD5E1;
  width: 500px;
  height: 250px;
  left:0;
  right: 0;
  top:0;
  bottom: 0;
}