@font-face {
  font-family: 'roboto';
  src: url('./fonts/roboto/roboto-regular-webfont.woff2') format('woff2'),
       url('./fonts/roboto/roboto-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;

}

@font-face {
  font-family: 'roboto';
  src: url('./fonts/roboto/roboto-medium-webfont.woff2') format('woff2');
  src: url('./fonts/roboto/roboto-medium-webfont.woff') format('woff');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'roboto';
  src: url('./fonts/roboto/roboto-bold-webfont.woff2') format('woff2'),
       url('./fonts/roboto/roboto-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: bold;

}

@font-face {
  font-family: 'comfortaabold';
  src: url('./fonts/Comfortaa/comfortaa_bold-webfont.woff2') format('woff2'),
       url('./fonts/Comfortaa/comfortaa_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'comfortaathin';
  src: url('./fonts/Comfortaa/comfortaa_thin-webfont.woff2') format('woff2'),
       url('./fonts/Comfortaa/comfortaa_thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'comfortaaregular';
  src: url('./fonts/Comfortaa/comfortaa_regular-webfont.woff2') format('woff2'),
       url('./fonts/Comfortaa/comfortaa_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

:root {
  --light-color-base: #e8e9ef;
  --light-color-1: #cccdcf;
  --light-color-2: #c6af99;
  --dark-color-1: #1f1d20;
  --dark-color-2: #474548;
  --accent-color-1: #594023;
  --accent-color-2: #2f3924;
  --header-icons-width: clamp(0.5rem, 1.25rem, 3vw);
}

body {
  font-family: 'inter', sans-serif;
}

#content {
  font-family: 'roboto', sans-serif;
}
/* homepage */
.home-container {
  display: flex;
  flex-direction: column;
  background-color: var(--light-color-base);
  min-height: 100vh;
}

.main-header {
  display: flex;
  align-items: center;
  background-color: var(--accent-color-1);
  padding: clamp(0.75rem, 1.25rem, 2.5vh);
}

.sidebar-btn {
  position: relative;
  cursor: pointer;
  width: var(--header-icons-width);
  height: var(--header-icons-width);
  background-color: transparent;
  outline: none;
  border: none;
  margin-right: max(1.5rem, 2.25vw);
}

.sidebar-btn::before {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--header-icons-width);
  height: var(--header-icons-width);
  content: "";
  background-image: url(./img/icons/three-horizontal-lines-icon.svg);
  background-size: 100% 100%;
}

.main-header > h1 {
  font-size: clamp(1.25rem, 1.75rem, 4vw);
  margin: 0;
  color: var(--light-color-1);
}

.main-header > span {
  display: flex;
}

.main-header > span::after {
  content: '';
  width: var(--header-icons-width);
  height: var(--header-icons-width);
  margin-left: max(0.5rem, 0.75vw);
  background-image: url(./img/icons/check-mark-box-line-icon.svg);
  background-size: 100% 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  padding: clamp(0.5rem, 1rem, 2vw);
  gap: 0.5rem;
  flex: 1;
  color: var(--dark-color-2);
  font-size: clamp(1rem, 1.5rem, 1.45vw);
  width: clamp(150px, 200px, 15vw);
  background-color: var(--light-color-1);
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.sidebar > ul button {
  background-color: inherit;
  color: inherit;
  border: none;
  cursor: pointer;
}

.sidebar > ul >li:hover {
  color: var(--light-color-1);
}

.sidebar > ul > li {
  padding: clamp(0.15rem, 0.25rem, 0.35vw) clamp(0.25rem, 0.5rem, 0.5vw);
}

.sidebar > ul > li:hover {
  background-color: var(--dark-color-1);
  border-radius: 3px;
}