@font-face {
  font-family: 'roboto';
  src: url('./fonts/roboto/roboto-regular-webfont.woff2') format('woff2'),
       url('./fonts/roboto/roboto-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;

}

@font-face {
  font-family: 'roboto';
  src: url('./fonts/roboto/roboto-medium-webfont.woff2') format('woff2');
  src: url('./fonts/roboto/roboto-medium-webfont.woff') format('woff');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'roboto';
  src: url('./fonts/roboto/roboto-bold-webfont.woff2') format('woff2'),
       url('./fonts/roboto/roboto-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: bold;

}

@font-face {
  font-family: 'comfortaabold';
  src: url('./fonts/Comfortaa/comfortaa_bold-webfont.woff2') format('woff2'),
       url('./fonts/Comfortaa/comfortaa_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'comfortaathin';
  src: url('./fonts/Comfortaa/comfortaa_thin-webfont.woff2') format('woff2'),
       url('./fonts/Comfortaa/comfortaa_thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'comfortaaregular';
  src: url('./fonts/Comfortaa/comfortaa_regular-webfont.woff2') format('woff2'),
       url('./fonts/Comfortaa/comfortaa_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

:root {
  --light-color-base: #fbfcf6;
  --light-color-1: #f5f7ed;
  --light-color-2: #e0e2d8;;
  --grey: #b0b0b0;
  --dark-grey: #636363;
  --grey-accent: #7a9295;
  --dark-color-1: #04060d;
  --dark-color-2: #474548;
  --dark-color-3: #4d4d4d;
  --accent-color-1: #1d3853;
  --accent-color-2: #23c686;
  --accent-color-3: #fc9d45;
  --accent-color-4: #9fcdfd;
  --accent-color-5: #c5d893;
  --low-color: #23c686;
  --medium-color: #ffa600;
  --high-color: #f5584c;
  --small-font: clamp(0.85rem, 0.9rem, 0.95vw);
  --small-medium-font: clamp(0.95rem, 1.025rem, 1.05vw);
  --medium-font: clamp(1rem, 1.05rem, 1.1vw);
  --medium-big-font: clamp(1.15rem, 1.3rem, 1.3vw);
  --big-medium-font: clamp(1.25rem, 1.5rem, 1.45vw);
  --big-font: clamp(1.75rem, 2rem, 5vw);
  --header-icons-width: clamp(1.25rem, 1.5rem, 3vw);
  --small-padding: clamp(0.2rem, 0.25rem, 0.35vw) clamp(0.4rem, 0.5rem, 0.5vw);
  --medium-padding: 0.75em;
  --big-padding: clamp(1.5rem, 2.5rem, 3vw);
  --small-gap: clamp(0.2rem, 0.25rem, 0.35vw);
  --medium-gap: clamp(0.4rem, 0.5rem, 0.7vw);
  --sidebar-width: clamp(225px, 250px, 15vw);
}

body {
  font-family: 'inter', sans-serif;
}

#content {
  font-family: 'roboto', sans-serif;
}
/* homepage */
.home-container {
  display: flex;
  flex-direction: column;
  background-color: var(--light-color-base);
  min-height: 100dvh;
}

.content {
  position: relative;
  display: flex;
  flex: 1;
}

.main-header {
  grid-column: 1/3;
  display: flex;
  align-items: center;
  background-color: var(--accent-color-2);
  padding: var(--medium-padding);
}

button {
  background-color: inherit;
  cursor: pointer;
}

.sidebar-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: clamp(0.75rem, 1rem, 1.25vw);
  position: relative;
  width: var(--big-font);
  height: var(--big-font);
  background-color: transparent;
  outline: none;
  border: none;
  margin-right: max(1.5rem, 2.25vw);
}

.sidebar-btn::before {
  position: absolute;
  width: var(--big-font);
  height: var(--big-font);
  content: "";
  background-image: url(./img/icons/menu_FILL0_wght400_GRAD0_opsz48.svg);
  background-size: 100% 100%;
}

.sidebar-btn:hover {
  border-radius: 3px;
 background-color: var(--accent-color-4);
}

.main-header > h1 {
  font-size: var(--big-font);
  margin: 0;
  color: var(--accent-color-1);
}

.main-header > span {
  display: flex;
}

.main-header > span::after {
  content: '';
  width: var(--big-font);
  height: var(--big-font);
  margin-left: clamp(0.25rem, 0.5rem, 0.5vw);
  background-image: url(./img/icons/check_box_FILL0_wght400_GRAD0_opsz48.svg);
  background-size: 100% 100%;
}

.sidebar {
  display: flex;
  height: calc(100% - var(--big-font));
  z-index: 2;
  position: absolute;
  flex-direction: column;
  padding: var(--medium-padding);
  gap: clamp(1rem, 1.25rem, 1.5vw);
  color: var(--dark-color-2);
  font-size: var(--big-medium-font);
  width: var(--sidebar-width);
  background-color: var(--light-color-1);
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.sidebar > ul button {
  padding: var(--small-padding);
  width: 100%;
  font-size: var(--medium-big-font);
  text-align: left;
  color: inherit;
  border: none;
}

.sidebar > ul > li.selected {
  background-color: var(--grey);
}

.sidebar > ul > li:hover {
  background-color: var(--light-color-2);
  border-radius: 3px;
}

.sidebar button.on-view {
  font-weight: 500;
  background-color: var(--accent-color-2);
  color: var(--dark-color-2);
  border-radius: 3px;
}

.sidebar button.on-view:hover {
  background-color: var(--accent-color-3);
}
/* sidebar project style */
.project {
  padding: var(--small-padding);
  font-weight: 700;
}

.project-header {
  display: flex;
  align-items: center;
  gap: var(--small-gap);
}

.view-projects,
.add-project {
  border: none;
  width: var(--big-font);
  height: var(--big-font);
  position: relative;
}

.add-project {
  margin-left: auto;
}

.view-projects::before,
.add-project::before  {
  position: absolute;
  width: var(--big-font);
  height: var(--big-font);
  content: "";
  background-size: 100% 100%;
  top: 0;
  left: 0;
} 

.view-projects::before {
  background-image: url(./img/icons/expand_more_FILL0_wght400_GRAD0_opsz48.svg);
  transform: rotate(-90deg);
}

.add-project::before{
  background-image: url(./img/icons/add_FILL0_wght400_GRAD0_opsz48.svg);
}

/* Main content style */
.main-content {
  flex: 1;
  position: relative;
  padding: var(--big-padding);
  padding-bottom: clamp(4rem, 5rem, 8vw);
  padding-top: clamp(2.25rem, 2.5rem, 3vw);
}

.main-content button[data-key="add-task"] {
  display: flex;
  align-items: center;
  font-size: var(--medium-font);
  gap: clamp(0.25rem, 0.5rem, 0.5vw);
  width: calc(var(--sidebar-width) - 2rem);
  position: absolute;
  border: 1px solid var(--dark-color-1);
  color: var(--dark-color-1);
  border-radius: 3px;
  padding: var(--small-padding);
  bottom: 0;
  margin-bottom: clamp(0.75rem, 1.25rem, 1.5vw);
}

.main-content button[data-key="add-task"]:hover {
  border-color: var(--accent-color-2);
  box-shadow: 3px 3px var(--accent-color-3);
}

button[data-key="add-task"]::before {
  content: " ";
  background-image: url(./img/icons/add_FILL0_wght400_GRAD0_opsz48.svg);
  width: var(--medium-font);
  height: var(--medium-font);
  background-size: 100% 100%;
}

.task-list > :first-child {
  border-top: 1px solid var(--light-color-2);
}

.task {
  padding: var(--medium-gap) 0;
  width: min(85vw, calc(500px + 15vw));
  display: flex;
  flex-direction: column;
  font-size: clamp(0.81rem, 1rem, 1vw);
  border-bottom: 1px solid var(--light-color-2);
  height: min-content;
}

.task-header {
  display: flex;
  gap: var(--small-gap);
}

button.done {
  display: flex;
  position: relative;
  width: var(--medium-font);
  height: var(--medium-font);
  border-radius: 50%;
  background-color: var(--light-color-1);
  border: var(--grey) 1px solid;
}

button.edit,
button.delete {
  width: var(--medium-font);
  height: var(--medium-font);
  position: relative;
  border: none;
  display: flex;
}

.task-header :nth-child(3){
  margin-left: auto;
}

.task-header button.edit {
  margin-right: var(--small-gap);
}

button.edit:hover,
button.delete:hover,
button.done:hover {
  background-color: var(--light-color-2);
  border-radius: 50%;
  box-shadow: 0 0 0 5px var(--light-color-2);
}

button.edit::before,
button.delete::before,
button.done::before  {
  position: absolute;
  left: 0;
  bottom: 0;
  width: var(--medium-font);
  height: var(--medium-font);
  content : '';
  background-size: 100% 100%;  
}

button.done[data-complete="true"]::before {
  content: "✓";
  color: var(--dark-color-2);
}

button.edit::before {
  background-image: url(./img/icons/border_color_FILL0_wght400_GRAD0_opsz48\ \(1\).svg);
}

button.delete::before {
  background-image: url(./img/icons/delete_FILL0_wght400_GRAD0_opsz48.svg);
}

.task  [data-info="title"] {
  font-size: var(--medium-font);
  padding-left: var(--small-gap);
  color: var(--dark-color-3);
  font-weight: 500;
}

.task s[data-info="title"] {
  color: var(--grey);
}

.task-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--small-gap);
  height: 100%;
}

.task [data-info="description"] {
  padding: var(--medium-font);
  font-size: var(--small-medium-font);
  padding-left: calc(var(--medium-font) + calc(var(--small-gap) * 2));
  color: var(--dark-grey);
  margin: var(--small-gap);
}

.task [data-info="date"]{
  font-size: var(--small-font);
  padding-left: 1.25em;
  display: flex;
  position: relative;
  color: var(--accent-color-1);
}

.task [data-info="date"]::before {
  content: " ";
  position: absolute;
  left: 0;
  width: 1em;
  height: 1em;
  background-image: url(./img/icons/event_note_FILL0_wght400_GRAD0_opsz48.svg);
  background-size: 100% 100%;
}

.task[data-complete="true"] [data-info="date"]::before {
  background-image: url(./img/icons/event_note_FILL0_wght400_GRAD0_opsz48-off.svg);
}

.task-footer {
  display: flex;
  gap: var(--medium-gap);
}

.task [data-info="priority"] {
  margin-left: auto;
  position: relative;
  height: var(--small-font);
  width: var(--small-font);
}

.task [data-info="priority"]::before {
  position: absolute;
  content: "";
  width: var(--small-font);
  height: var(--small-font);
  background-size: 100% 100%;
}

[data-info="priority"].low::before {
  background-image: url(./img/icons/flag_FILL0_wght400_GRAD0_opsz48.svg);
}

[data-info="priority"].medium::before {
  background-image: url(./img/icons/flag_FILL0_wght400_GRAD0_opsz48-mid.svg);
}

[data-info="priority"].high::before {
 background-image: url(./img/icons/flag_FILL0_wght400_GRAD0_opsz48-high.svg);
}

.task[data-complete="true"] [data-info="priority"]::before {
  background-image: url(./img/icons/flag_FILL0_wght400_GRAD0_opsz48-off.svg);
}

/*Set completed task data*/
.task[data-complete="true"] [data-info="description"],
.task[data-complete="true"] [data-info="date"],
.task[data-complete="true"] .done::before {
  color: var(--grey);
}
/* Form pop up modal style */
.modal,
.edit-modal,
.delete-modal {
  border-radius: 3px;
  background-color: var(--light-color-base);
  border: none;
  padding: 0;
  border: var(--accent-color-2) 1px solid;
  box-shadow: 10px 10px var(--accent-color-1);
}

.modal > form,
.edit-modal > form {
  display: flex;
  flex-direction: column;
  width: min(85vw, calc(450px + 3vw));
  font-size:var(--medium-font);
}

.delete-warning {
  align-self: center;
  font-weight: 500;
  color: var(--dark-color-2);
  padding: var(--big-padding);
}

.main-input {
  display: flex;
  flex-direction: column;
  gap: var(--small-gap);
  padding: clamp(0.75rem, 1.25rem, 2vw);
}

.title,
.description {
  position: relative;
  display: flex;
}

.title input {
  height: clamp(1rem, 1.5rem, 1.45vw);
  font-size: var(--medium-big-font);
  padding: var(--small-padding);
  border: none;
  width: 100%;
}

.title input:focus {
  outline: none;
}

.title > label,
.description > label {
  padding: var(--small-padding);
  z-index: 2;
  position: absolute;
  color: var(--dark-color-1);
}

.title > label, 
.title input {
  color: var(--dark-color-2);
  font-size: var(--big-medium-font);
  font-weight: 500;
}

input,
textarea {
  width: 100%;
  background-color: inherit;
}

textarea {
  padding: var(--small-padding);
  resize: none;
  border: none;
  min-height: calc(100px + 3vw);
}

textarea:focus {
  outline: none;
}

.date,
.priority {
  display: flex;
  gap: var(--small-gap);
  color: var(--dark-color-2);
}

.date label,
.priority label {
  width: clamp(8ch, 10ch, 15vw);
  color: var(--dark-color-1);
}

.date input:focus-visible,
.priority :focus-visible {
  outline: 1px solid var(--accent-color-1);
}

.date input,
.priority select {
  flex: 0;
  border-radius: 2px;
  font-size: 0.8em;
  border: var(--accent-color-1) 1px solid;
  color: var(--dark-color-1);
}

.priority select {
  background-color: inherit;
}

option {
  background-color: var(--light-color-1);
}

/* button container style */
.btn-container {
  padding: clamp(0.75rem, 1rem, 1.5vw);
  display: flex;
  justify-content: end;
  gap: clamp(0.5rem, 0.75rem, 1vw);
  border-top: 1px solid var(--grey-accent);
}

.btn-container > button {
  border-radius: 3px;
  font-weight: 500;
  border: none;
  padding: clamp(0.25rem, 0.5rem, 0.75vw);
  color: var(--accent-color-1);
}

.btn-container .cancel,
.btn-container .cancel-edit {
  background-color: var(--light-color-2);
}

.btn-container .submit,
.btn-container .submit-edit {
  background-color: var(--accent-color-2);
}

.btn-container .delete-task {
  background-color: var(--high-color);
  color: var(--light-color-base);
}
/* Hide elements */
.hidden {
  display: none;
}

.visually-hidden {
  border-width: 0;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/*Media query*/
@media only screen and (min-width: 481px) {
  .main-content button[data-key="add-task"] {
    margin-left: calc(var(--sidebar-width) + var(--medium-padding));
  }
}